{% extends "base.html" %}

{% block content %}
<section class="content-section">
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}

    <ul class="content-list">
        {# Use paginator if it exists, else regular pages #}
        {% if paginator is defined %}
        {% set listing_pages = paginator.pages %}
        {% else %}
        {% set listing_pages = section.pages %}
        {% endif %}
        {% for page in listing_pages %}
            {% include "partials/content-listing-item.html" %}
        {% endfor %}
    </ul>

    {% if paginator is defined %}
        {% include "partials/pagination.html" %}
    {% endif %}
</section>
{% endblock %}
